-e git+https://github.com/nyaruka/smartmin.git@to_django_1_7#egg=smartmin-dev
django==1.7
newrelic
gunicorn
requests
dj-database-url
psycopg2
django-crispy-forms
django-tastypie
django-registration-redux
django_guardian
xlutils
python-memcached
