{% extends "public_base.html"%}
{% block order-content%}
<style>
  .centred{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .centred.reg{
    text-align:center;
  }
</style>
  <div class="centred">
    <h2 style="padding-left:-12px;color:#fff;font-weight:bold;text-tranform:capitalize;">
      Thanks! Your account has been activated.
    </h2>
    <div style="padding-left:45%;">
    <a style="color:#ffffff; background-color:#81bcb8;padding-left:15px;"class="btn btn-lg"
     href="/accounts/login">Login</a>
  </div>
  </div>
{% endblock %}
