{% extends "public_base.html"%}
{% block order-content%}
<style>
  .centred{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .centred.reg{
    text-align:center;
  }
</style>
  <div class="centred">
    <span style="padding-left:40%; font-size:50px;color:#fff"class="oi oi-circle-check"></span>
    <p style="padding-left:-12px;color:#fff;font-weight:bold;font-size:15px;"> Registration complete. Please activate account in email.</p>
  </div>



{% endblock %}
