<div class="modal-header">
    <h3 class="modal-title">Contact Information</h3>
  </div>
  <div class="modal-dialog">
  <form name="assignTaskForm" ng-controller="assigntask">
    <input type="text" ng-model="address" placeholder="Where may we find you.">[[state]][[mobile]]
    <br>
    <input type="text" ng-model="mobile" placeholder="Number we can reach you.">
    <br>
    <textarea ng-model="comment" ></textarea>


    <input type="submit" ng-click="assign()" value="create">
  </form>
  <button class="btn btn-danger" ng-click="dismiss()">dismiss</button>
</div>
