<div class="modal-header">
  <h3 class="modal-title">Edit Item</h3>
</div>
<div class="modal-dialog">
<form  name="freshlistForm" ng-controller="edit">
  <input ng-model="new_name"/>[[new_name]]
  <div class="input-group date">
    <input type="text" datetimepicker ng-model="scheduledTime" class="form-control">
    <span class="input-group" style="width:0">
    </span></span>
  </div>

  <input type="submit" ng-click="editList(list.id)" value="done">
</form>
<button class="btn btn-danger" ng-click="dismiss()">cancel</button>
</div>
