<!--item functionality for a given list goes here-->
<style>
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #35486e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #35486e;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #35486e;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #35486e;
}
</style>

<div>
  <div ng-show="list.item.length>0" style="float:right; margin-top:0px;">
    <button class="btn btn-success" ui-sref="lists.assigntask({id:list.id})">assign to Mark.</button>
  </div>
   <form name="freshlist_itemForm" ng-submit="addItem(freshlist_itemForm.$valid,list.item)"novalidate>
     <input type="text" class="form-control" ng-model="item_description" placeholder="Add item"
     style="opacity:0.5;margin:14px; margin-left:38px;width:65%"required/><span>
     [[item_description]]

     </span>

     <!--<span><input type="button" type="submit" ng-click="addItem(freshlist_itemForm.$valid)" novalidate value="Add"></span>-->
     <!--add note input here -->

     <!--no validate prevents HTML5 validation since we provide our
       own validation-->
   </form>

   <!-- items already in lists-->
   <ul ng-repeat="item in list.item | orderBy:'-created_on'">


       <li class="list-unstyled" style="color:#ffffff;font-weight:bold">
         <span class="glyphicon glyphicon-remove-circle" ng-click="deleteFromList(item)" style="cursor:pointer"></span>
         [[item.item_description]]
       </li>


   </ul>


</div>
<div ng-if="!list">
  <p>Lets make some list. Hit the + button on your left.</p>
</div>
