<!--item functionality for a given list goes here-->
</p>item functionality goes here.</p>

<div>
  <h2 style="color:#35486e">Add items.</h2>
   <form name="freshlist_itemForm" novalidate>
     <input type="text" ng-model="item_description" placeholder="Add item" required/>
     <br>
     <input type="text" ng-model="note" placeholder="Add note for this item.">

     <span><input type="button" type="submit" ng-click="addItem(freshlist_itemForm.$valid)" novalidate value="Add"></span>
     <!--no validate prevents HTML5 validation since we provide our
       own validation-->
   </form>

</div>
<!-- items already in lists-->
<li ng-repeat="item in list.item | orderBy:'-created_on'">
  <a ng-click="deleteFromList($index,list)">delete</a>
  <p>[[item.item_description + item.id]]</p>
</li>
<div>
<button class="btn btn-success" ui-sref="lists.assigntask({id:list.id})">assign to dobby now.</button>
</div>
