<script src="/static/lib/jquery-1.7.2.js"></script>
<script src="/static/js/script.js"></script>
<style>
  a:hover,.oi .oi-pencil{

  }
</style>
<div class="container-fluid">
<div class="row">
<div id="lists"class="col-md-4" style="background-color:#ffffff;width:270px;">
<div style="margin-left:40px;text-transform:capitalize;"ng-controller="listCtrl">
  <p style="color:#1c1c1c">[[user_name]]<span style="padding-left:10px;">
  <a href="/accounts/logout/"style="color:#1c1c1c">logout</a></span>
  <a ui-sref="lists.createlist"><span class="oi oi-plus"style="margin-top:3px;float:right;font-size:20px;color:#a3a3a2"></span>
  </p> <!-- add list creation here -->

   <ul ng-repeat="list in lists" class="list-unstyled">

     <li >
      <span class="oi oi-menu" style="color:#a3a3a2;font-size:15px; font-weight:normal;">
        <a ui-sref="lists.list({id:list.id})"
        style="font-family:Lato,Helvetica Nue,Arial,Sans-serif;font-size:15px;color:#1c1c1c;padding-left:6px;font-weight:400;">
        [[list.title+list.id]]</a></span>
       <span style="float:right">
         <a ui-sref="lists.edit({id:list.id})"><span class="oi oi-pencil" style="color:#a3a3a2;font-size:15px; font-weight:normal;">
       </span></a></span></li>

   </li>
   
 </ul>

</div>
<div>


</div>
</div>
<div id="item" class="col-md-8">
  <div ui-view ></div>
</div>
</div>
</div>



</script>
