
<div class="row">
<div class="col-md-4">
<div ng-controller="listCtrl" >
  <h2 style="color:#35486e">Create New List.</h2>
  <!-- add list creation here -->
 <ul>
   <li ng-repeat="list in lists">
     <a ng-click="delete($index)">delete</a>
     <p><a ui-sref="lists.list({id:list.id})">[[list.title+list.id]]</a>
       <span ><a ui-sref="edit({id:list.id})">edit</a></span></p>

   </li>
   <p> number of lists [[num_of_lists()]]</p>

 </ul>
</div>
<div>
<button class="btn btn-success" ui-sref="lists.createlist">create list</button>

</div>
</div>

<div class="col-md-8">
  <div ui-view></div>
</div>
</div>
