<div class="modal-header">
    <h3 class="modal-title">Create List</h3>
</div>
  <div class="modal-body">
  <form name="createlistForm" ng-controller="listCtrl">
    <input type="text" name="listTitle" ng-model="list_name" placeholder="List title" required>

    <div class="input-group date">
      <input type="text" datetimepicker ng-model="scheduledTime" class="form-control" required>
      <span class="input-group" style="width:0">
      </span></span>
    </div>
    <input type="submit" ng-click="createlist(createlistForm.$valid,lists)" value="create">
  </form>
  <button class="btn btn-danger" ng-click="dismiss()">dismiss</button>
</div>
