<style>
.input-block {
  margin-bottom: 15px;
  margin-top: 5px;
  width:100%;
  height:35px;
}
</style>

<div class="modal-header">
      <h3 class="modal-title"style="text-transform:capitalize">Create New List</h3>
</div>
  <div class="modal-body">
  <form name="createlistForm" ng-controller="listCtrl">
    <input type="text" name="listTitle" ng-model="list_name"class="input-block" placeholder="List title">

    <div class="input-group date">
      <input type="text" datetimepicker ng-model="scheduledTime" placeholder="set due date and time"style="width:369px;height:35px;">
      <span class="input-group" style="width:0">
      </span></span>
    </div>
<div class="modal-footer">
<button class="btn btn-default" ng-click="dismiss()">Cancel</button>
<button type="submit" class="btn btn-primary"ng-click="createlist(createlistForm.$valid,lists)">Save</button>
</div>
</form>

</div>
