<style>
.auth-form{margin:60px auto;width:400px;}
</style>
<div class="auth-form">
  <h3 style="text-transform:capitalize; color:#ffffff;">How it works</h3>
  <ul class="list-unstyled" style="color:#ffffff;">
    <li class="list-unstyled" style="font-size:20px;">1.  Create and schedule lists on the left</li>
    <li class="list-unstyled" style="font-size:20px;">2.  Click list to add tasks to it</li>
    <li class="list-unstyled" style="font-size:20px;">3.  Assign to Mark by clicking button
      <a class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span>Assign to Mark</a>
    </li>
  </ul>
</div
