<!DOCTYPE html>
<html ng-app="GroceryList">
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}dobbys | Have it easy{% endblock %}</title>
  {% block styles %}
  <link rel="icon" href="{{ STATIC_URL }}img/new_fav.png" type="img/png">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/bootstrap-datetimepicker.min.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/fonts/glyphicons-halflings-regular.woff">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/fonts/glyphicons-halflings-regular.ttf">



  {%endblock %}


<script type="text/javascript" src="{{ STATIC_URL }}lib/angular/angular.js"></script>
 </head>
 <body>

 <nav class="navbar navbar-default" style="margin-bottom: 0p; background:#87D630;">
 <div id="logo" style="padding-left: 25px;padding-top: 10px;">
  <h2 style="color:white;">dobbys</h2>
</div>
     <div></div>
   <div class= "navbar-header">
   </div>

   <div class="collapse navbar-collapse navbar-responsive-ex1-collapse">
    <ul class="nav navbar-nav pull-right" style="margin-right: 53px;">
    </ul>
   </div><!--end .nav-->
 </div><!--end #header-->
</nav>
 <div style="clear: both;"></div>

  {% block order-content %}

  {% endblock %}



 <div style="clear: both;"></div>
 <script type="text/javascript" src="{{ STATIC_URL }}js/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/moment.min.js"></script>
  <script src="{{STATIC_URL}}js/restangular/node_modules/lodash/dist/lodash.min.js"></script>

  <script src="{{STATIC_URL}}js/app.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/controllers.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>


  <script type="text/javascript" src="{{ STATIC_URL }}js/restangular/dist/restangular.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>
  <script type="text/javascript">

  </script>
 </body>
</html>
