<!DOCTYPE html>
<html ng-app="GroceryList">
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Markshelp | Have it easy{% endblock %}</title>
  {% block styles %}
  <link rel="icon" href="{{ STATIC_URL }}img/new_fav.png" type="img/png">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/open-iconic-bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/style.css">

  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/ngProgress.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/xeditable.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/bootstrap-datetimepicker.min.css">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/fonts/glyphicons-halflings-regular.woff">
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}freshcss/fonts/glyphicons-halflings-regular.ttf">
  {%endblock %}


<script type="text/javascript" src="{{ STATIC_URL }}lib/angular/angular.js"></script>
 </head>
 <body class="authbackground">
<nav class="navbar navbar-default" style="margin-bottom: 0px; background:#fff;">
<div id="logo" style="padding-left: 25px;padding-top: 10px;">

</div>
   <div></div>
 <div class= "navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-ex1-collapse">
    <span class="sr-only"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
 </div>

 <div class="collapse navbar-collapse navbar-responsive-ex1-collapse">
   {% if user.is_authenticated %}
   <a href="/" class="navbar-text" style="color:#3f729b;font-size:14px;text-transform:capitalize;">Hi {{username}}</a>
   {% else %}
   <a href="/" class="navbar-text" style="color:#3f729b;font-size:14px;text-transform:capitalize;">Home</a>
   {% endif %}
  <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a style="color:#3f729b;text-transform:capitalize;"href="{% url 'inbox' %}">Inbox</a></li>
    {% endif %}
    <li><a style="color:#3f729b;text-transform:capitalize;"href="{% url 'contact_us'%}">Contact Us</a></li>
    {% if user.is_authenticated %}
    <li > <a href="{%url 'auth_logout'%}"style="color:#3f729b;text-transform:capitalize">Log out</a></li>
    {% else %}
    <li > <a href="{%url 'auth_login'%}"style="color:#3f729b;text-transform:capitalize">Sign in</a></li>
    {% endif %}

 </ul>
 </div><!--end .nav-->
</div><!--end #header-->
</nav>
<div style="clear: both;"></div>

  {% block order-content %}

  {% endblock %}



 <div style="clear: both;"></div>
 <script type="text/javascript" src="{{ STATIC_URL }}js/ngProgress.min.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/angular-ui-router.min.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.7.2.js"></script>
 <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  <script type="text/javascript" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/moment.min.js"></script>
  <script src="{{STATIC_URL}}js/restangular/node_modules/lodash/dist/lodash.min.js"></script>

  <script src="{{STATIC_URL}}js/app.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/xeditable.min.js"></script>


  <script type="text/javascript" src="{{ STATIC_URL }}js/controllers.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>


  <script type="text/javascript" src="{{ STATIC_URL }}js/restangular.min.js"></script>



 </body>
</html>
